<ion-header>
  <ion-navbar>
    <ion-title>
      History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 *ngIf="patientDate">History of {{patientDate.firstname}} {{patientDate.lastname}}</h2>

  <ion-card>
    <ion-card-header>
      FBS Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #FBSlineCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      HBA1C Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #HBA1ClineCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Serum Creatine Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #SeCrlineCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Header
    </ion-card-header>
    <ion-card-content>
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <button ion-item *ngFor="let hstry of history" (click)="itemSelected(item)">
      {{ hstry }}
    </button>  
  </ion-list>
</ion-content>
