<ion-header>

    <ion-navbar>
      <ion-title>Agreement</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
<ion-card>
  
    <ion-card-content *ngIf="type == 'patient'">
        Subject to your agreement and compliance with the terms of this agreement, we grant you a non-exclusive,non-transferable,non-sharable, revocacble,limited license to use the services including text, graphics, images and illustrations and other related content solely for your personal,non-commercial use to the services in accordance with this agreement.you will not: (a) sell, resell the content of the app commercially; (b)Modify or remove any proprietery rights; (c) use the DiaBeats App content other than for its intended purposes.<br/>

        you agree to use the App in accordance with these terms and applicable laws and regulations.you will not violate any applicable law, contract, intellectual property or other thirs-party right or commit tort, and you are solely responsible for your conduct while accessing or using the App.In connection with your use of the App and the Services,you will not:<br/>
        
        *Engage in any harassing, threating, intimidating, predatory or stalking conduct;<br/>
        *impersonate another person or log in to an account which you are not authorized to access;<br/>
        *Use or attempt to use another User's account without authorization from that user and DiaBeats.<br/>
        *Develop or use any third-party applications that interact with the app or services without oour prior written consent, including any scripts designed to scrape or extract data from the App.<br/>
        
        If you are in breach of any of these terms, we reserve the right, in our sole discretion, to terminate your right to access or use of the app.We are not responsible for any loss,damage or harm related to your inability to access or use the app based on such termination.<br/>
        The App does not work as a subtitute to the process of realtime diabetes treatments.It will only work as a management tool for diabetes in aiding patients to have a better comprehension on their progress. Miscomprehension of this would not be a responsiblity of the App.<br/>
        <button ion-button color="button" (click)="close('agree')" full>Agree</button>
        <button ion-button color="danger" (click)="close('dis')" full>Disagree</button>
    </ion-card-content>

    <ion-card-content *ngIf="type == 'doctor'">
        Subject to your agreement and compliance with the terms of this agreement, we grant you a non-exclusive,non-transferable,non-sharable, revocacble,limited license to use the services including text, graphics, images and illustrations and other related content solely for your personal,non-commercial use to the services in accordance with this agreement.you will not: (a) sell, resell the content of the App commercially; (b)Modify or remove any proprietery rights; (c) use the DiaBeats app content other than for its intended purposes.(d) invade the privacy or share the private information of your patients.And you will agree on; (a) Providing accurate guidelines for the patients; (b)Be responsible for your chosen crowd of patients; (c) Be responsible for your methods of medical practices.<br/>

        you agree to use the App in accordance with these terms and applicable laws and regulations.you will not violate any applicable law, contract, intellectual property or other thirs-party right or commit tort, and you are solely responsible for your conduct while accessing or using the app. In connection with your use of the App and the Services,you will not:<br/>
        
        *Engage in any harassing, threating, intimidating, predatory or stalking conduct;<br/>
        *impersonate another person or log in to an account which you are not authorized to access;<br/>
        *Use or attempt to use another User's account without authorization from that user and DiaBeats.<br/>
        *Develop or use any third-party applications that interact with the app or services without oour prior written consent, including any scripts designed to scrape or extract data from the App.<br/>
        
        If you are in breach of any of these terms, we reserve the right, in our sole discretion, to terminate your right to access or use of the App.We are not responsible for any loss,damae or harm related to your inability to access or use the app based on such termination.<br/>
        <button ion-button color="button" (click)="close('agree')" full>Agree</button>
        <button ion-button color="danger" (click)="close('dis')" full>Disagree</button>
    </ion-card-content>
  
  </ion-card>

</ion-content>