<ion-header>
  <ion-navbar>
    <ion-title>Lifestyle</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <h5 class="title">Suggested Lifestyle</h5>
  <ion-card class="card_full">
    <ion-card-content>
      <p *ngIf = "lifestyle"><b>{{lifestyle.description}}</b></p>
    </ion-card-content>
  </ion-card>
  <ion-card class="card_full">
    <ion-card-content>
      <p *ngIf = "lifestyle"><b>{{lifestyle.Diet_Plan}}</b></p>
    </ion-card-content>
  </ion-card>
  <ion-card class="card_full">
    <ion-card-content>
      <p *ngIf = "lifestyle"><b>{{lifestyle.Insulin}}</b></p>
    </ion-card-content>
  </ion-card>
</ion-content>