<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end hideWhen="android">
        <button ion-button icon-only (click)="takePhoto()">
            <ion-icon name="create"></ion-icon>
    
        </button>
      </ion-buttons>
  </ion-navbar>
 
</ion-header>

<ion-content>
  <div class="top--container">
  </div>
  <ion-card *ngIf="showCard">
    <img [src]="base64Image"/>
    <ion-card-content>
      {{visionres}}
    </ion-card-content>
  </ion-card>
  
    <!-- <ion-card *ngFor="let item of items | async">
        <img [src]="'data:image/png;base64,' + item.imageData"/>
        <ion-card-content>
          <ion-list no-lines>
            <ion-list-header>Labels</ion-list-header>
            <ion-item *ngFor="let label of item.results[0].labelAnnotations">{{label.description}}</ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card> -->
      <ion-fab bottom right>
        <button ion-fab (click)="takePhoto()" hideWhen="ios">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-fab>
</ion-content>

<ion-footer>
    <button ion-button block clear (click)="logout()">
        Logout
      </button>
</ion-footer>